[submodule "SelfHostedServer.Data"]
	path = SelfHostedServer.Data
	url = https://github.com/danya-sus/SelfHostedServer.Data
[submodule "SelfHostedServer.Services"]
	path = SelfHostedServer.Services
	url = https://github.com/danya-sus/SelfHostedServer.Services
[submodule "SelfHostedServer.Models"]
	path = SelfHostedServer.Models
	url = https://github.com/danya-sus/SelfHostedServer.Models
[submodule "SelfHostedServer.ModelsDto"]
	path = SelfHostedServer.ModelsDto
	url = https://github.com/danya-sus/SelfHostedServer.ModelsDto
